.header{
    
    width: 80%;
    margin: auto;
    height: 60px;
    top:0;
    display: flex;
    flex-direction: row;
    
}
h1{
    margin: 0;
}

header{
    background-color: black;
    text-align: justify;
}

html {
    scroll-behavior: smooth;
  }
  
body{
    padding: 0;
    margin: 0;
    background-color: #000000;
}

#first-section{
    height: 690px;
    background-color: black;
}

@font-face {
    font-family: 'Gothams';
    src: url('Gotham/Gotham-Black.ttf') format('truetype');
    font-weight: normal;
  }
  
  /* Gotham Bold */
  @font-face {
    font-family: 'Gotham Bold';
    src: url('Gotham/Gotham-Bold.otf') format('opentype');
    font-weight: normal;
  }
  
  /* Gotham Medium */
  @font-face {
    font-family: 'Gotham Medium';
    src: url('Gotham/GothamMedium.ttf') format('truetype');
    font-weight: normal;
  }
  
  /* Gotham Thin */
  @font-face {
    font-family: 'Gotham Thin';
    src: url('Gotham/Gotham-Thin.otf') format('opentype');
    font-weight: normal;
  }
  
.logo{
    padding-left: 10%;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.logo img{  
    max-width: 100%;
    height: auto;
}   

nav{
    display: flex;
    width:50%;

    align-items: center;
    justify-content: space-around;
    right: 0;

}

nav a{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: bold;
    
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    color: #a663cc;
}

@font-face {
    font-family: 'Bauziet';
    src: url('Bauziet/Bauziet Norm Bold.ttf') format('truetype');
    /* Add more formats if needed, like WOFF2 and WOFF */
  }

.heading{
    width: 60%;
    margin: auto;
}
  
.heading h1{
    padding-top: 5%;
    line-height: 1;
    text-align: center;
    color: aliceblue;
    font-size: 70px;
    font-family: "Bauziet", sans-serif;
}

.heading h2{
    color: white;
    font-family: proxima-nova, sans-serif;
    text-align: center;
    line-height: 0;
}

.gradient{
    --tw-gradient-from: #a663cc;
    --tw-gradient-to: #0b0142;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
}

.timings{
    width: 60%;
        margin: auto;
    text-align: center;
    font-family: "Gotham Medium", sans-serif;
    color: whitesmoke;
}
.deets{
    display: flex;
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.deets label{
    margin-left:3%;
    float: right;
    text-align: center;
    font-weight: 700;
    font-size: 150%;
    font-family: "Gotham Thin", sans-serif;
}

.button{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;   
    margin: auto;
}

.button button{
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add smooth transitions for hover effects */
    background-color: #758bfd;
    font-family: "Gotham Bold", sans-serif;
    font-size: large;
    cursor: pointer;
    color:1c0221;
}

.button button:hover {
  background-color: #0056b3; /* Change the background color on hover */
  transform: scale(1.05); /* Add a slight scale effect on hover */
}

#about{
    height: 720px;
    --tw-gradient-from: #0b0142;
    --tw-gradient-to: #a663cc;
    --tw-gradient-stops: #000000, var(--tw-gradient-from);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    display: flex;
}

.img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
      
}

.img img{
    position: relative;
    top: 20%;
    max-width: 100%;
    height: auto;
}

.about{
    height: 100%;
    width: 50%;
    margin: auto;
    text-align: justify;
}

.about h1{
    margin: 0;
    color: whitesmoke;
    font-family: "Bauziet", sans-serif;
    font-size: 75px;
    padding-left: 5%;
    text-decoration: underline;
}

.about p{
    color: white;
    font-family: "Gotham Medium", sans-serif;
    font-size: x-large;
    line-height: 1.3;
}


#themes{
    height: 750px;
    --tw-gradient-from: #0b0142;
    --tw-gradient-to: #a663cc;
    --tw-gradient-stops: var(--tw-gradient-from), #3f02b0;
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));   
}

.theme{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}


/* .theme1{
    background-color: #000000;
    display: flex;
    color: white;
    text-align: center;
    padding: 2rem;
    margin: auto;

} */

.title{
    padding-top: 2%;
    font-family: "Bauziet", sans-serif;
    font-size: 75px;
    color: white;
    text-decoration: underline;
    padding-left: 5%;
    top: 0;
}


/*
.grad{
    --tw-gradient-from: #3f02b0;
    --tw-gradient-stops: #00011e, var(--tw-gradient-from);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));   
}
*/
#prizes{
    position: relative;
    height: 720px;
    --tw-gradient-from: #3f02b0;
    --tw-gradient-stops: var(--tw-gradient-from), #00011e;
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



.prizes{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    align-items: top;
    height: 65%;
    width: 80%;
    margin: auto;

}

.prizes svg{
    margin: 5%;
}

.card{
    margin-top: 5%;
    border-radius: 10%;
    background-color: #1b1b1b;
    width: 25%;
    color: white;
    height: 70%;
    transition: background-color 0.3s ease, transform 0.4s ease; 
}



.card h2{
    font-family: "Bauziet", sans-serif;
    font-size: 30px;
    color: white;

}

.card-title{
    display: flex;
    vertical-align: center;
    width: 90%;
    margin: auto;
    align-items: center;
    margin-bottom:0;
}

.card:hover{
    transform: scale(1.05); /* Add a slight scale effect on hover */

}

#first_medal{
    fill: #ffd700;
}

#second_medal{
    fill: #c0c0c0;
}


#third_medal{
    fill: #b08d57;
}

.card-content {

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card-content h3{
    margin-bottom: 0;
    font-family: "Bauziet", sans-serif;
    text-align: center;
    color: white;
    font-size: 60px;
    margin-top: 10%;
    
}


.card-content p{
    font-family: "Gotham Thin", sans-serif;
}

#faq{
    height: 800px;
    --tw-gradient-stops:#00011e,#01020a, #00011e;
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops)); 

}

.faq-title{
    text-align: center;
}

.qcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    height: 65%;
}

.faq{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    
}

.qcard{
    border: black 2px solid;

    margin-top: 10%;
    background-color: #3f02b0;
    margin: auto;

    
    border-radius: 20px;

    margin: 2%;
}

.question{
    border-radius: 20px;
    font-family: "Gotham Medium", sans-serif;
    font-size: larger;
    margin-top: 0;
    height: 75px;
    width: 100%;
    background-color: #3f02b0;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}
.answer{
    transition: all 2s ease;
    font-family: "Gotham Medium", sans-serif;
    color: wheat;
    text-align: left;
    padding-left: 2%;


    height: 0;
    overflow: hidden;
}
.answer2{
transition: height 2s ease;
    font-family: "Gotham Medium", sans-serif;
    color: wheat;
    text-align: left;
    padding-left: 2%;


    height: 0;
    overflow: hidden;
}
.answer3{
transition: height 2s ease;
    font-family: "Gotham Medium", sans-serif;
    color: wheat;
    text-align: left;
    padding-left: 2%;


    height: 0;
    overflow: hidden;
}
.answer4{
transition: height 2s ease;
    font-family: "Gotham Medium", sans-serif;
    color: wheat;
    text-align: left;
    padding-left: 2%;


    height: 0;
    overflow: hidden;
}
.answer5{
transition: height 2s ease;
    font-family: "Gotham Medium", sans-serif;
    color: wheat;
    text-align: left;
    padding-left: 2%;


    height: 0;
    overflow: hidden;
}
.answer6{
transition: height 2s ease;
    font-family: "Gotham Medium", sans-serif;
    color: wheat;
    text-align: left;
    padding-left: 2%;


    height: 0;
    overflow: hidden;
}
.answer7{
transition: height 2s ease;
    font-family: "Gotham Medium", sans-serif;
    color: wheat;
    text-align: left;
    padding-left: 2%;


    height: 0;
    overflow: hidden;
}

.answer p{
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
}
.answer2 p{
width: 90%;
    margin: auto;
    margin-bottom: 5%;
}
.answer3 p{
width: 90%;
    margin: auto;
    margin-bottom: 5%;
}
.answer4 p{
width: 90%;
    margin: auto;
    margin-bottom: 5%;
}
.answer5 p{
width: 90%;
    margin: auto;
    margin-bottom: 5%;
}
.answer6 p{
width: 90%;
    margin: auto;
    margin-bottom: 5%;
}
.answer7 p{
width: 90%;
    margin: auto;
    margin-bottom: 5%;
}

.qcard a{
    color: black;
}

#res{
    height: 670px;
    --tw-gradient-from: #0b0142;
    --tw-gradient-to: #a663cc;
    --tw-gradient-stops: #000000, var(--tw-gradient-from);
    background-image: linear-gradient(to top,var(--tw-gradient-stops));
}
.res{
    display: flex;
    padding-top: 1%;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    justify-content: center;
    margin-top: 2%;
}

.res-card{
    background-color: #3f02b0;
    border-radius: 50px;
    width: 70%;
    margin: auto;
    margin-top: 1%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: c;
    color: white;
    font-family: "Gotham Medium", sans-serif;
    font-size: x-large;
}

.res_content{
    padding-left: 1.5%;
}

.res-card a{
    text-decoration: none;
    color: black;

}

.res-card svg{
    padding-left: 5%;
}

#end{
    height: fit-content;
}

#end iframe{
    width: 49%;
    border-radius: 20px;
}
#end h2{
    font-family: 'Bauziet', sans-serif;
    color: white;
    font-size: xx-large;
    width: 80%;
    margin: auto;
    text-align: center;
}
.register{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register p{
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 4%;
    color: white;
    font-family: 'Gotham Bold';
    font-size: 55px;
}

.register button{
    height: 100px;
    width: 300px;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add smooth transitions for hover effects */
    background-color: #758bfd;
    font-family: "Gotham Bold", sans-serif;
    font-size: large;
    cursor: pointer;
    border: none;
    font-size: xx-large;
}

.register button:hover {
  background-color: #0056b3; /* Change the background color on hover */
  transform: scale(1.05); /* Add a slight scale effect on hover */
}
footer hr{
    color:white;
}
footer{
    margin-top: 50px;
    height: 200px;
    max-height: 100%;
}

footer h1{
    color: white;
    font-size: 65px;
    font-family: 'Bauziet', sans-serif;
    text-align: center;
}

footer h3{
    color: white;
    font-size: 30px;
    font-family: 'Gotham Medium', sans-serif;
    text-align: center;
}
.logos{
    max-height: 100%;
    margin: auto;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#rules{
    height: 670px;
    --tw-gradient-from: #3f02b0;
    --tw-gradient-stops: var(--tw-gradient-from), #00011e;
    background-image: linear-gradient(to top,var(--tw-gradient-stops));  

}

.rules{
    margin-top: 3%;
}

.rules-card{
    background-color: ;
    border-radius: 50px;
    width: 70%;
    margin: auto;
    margin-top: 1%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: c;
    color: white;
    padding-left: 1.5%;
    font-family: "Gotham Medium", sans-serif;
    font-size: x-large;
}

.rule_content{
    margin-left: 1%;
}
#judges{
    --tw-gradient-from: #0b0142;
    --tw-gradient-stops: var(--tw-gradient-from), #3f02b0;
    background-image: linear-gradient(to top,var(--tw-gradient-stops));   
}

.judge-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.judge{    
    
    background-color: #1b1b1b;
    border: 3px solid white;
    margin: 3rem 0;
    color: white;
    text-align: center;
    border-radius: 2rem;
    /* background-color: #240046; */
    transition: transform 0.2s ease;
    font-family: 'Gotham Medium';
}
.judge img{
    border-radius: 2rem;
}

.judge h3{
    margin-bottom: 5%;
}


.judge:hover{
    transform: scale(1.05); /* Add a slight scale effect on hover */
}

.j-name{
    font-size: xx-large;
    font-weight: bolder;
    
}

.j-designation{
    margin: 0;
    font-size: larger;
    
}

/* For mobile devices */
@media screen and (max-width: 767px) {
    .judge {
        flex-basis: 100%; 
        margin: 1rem 0; 
    }
}


/* Add a media query for screens smaller than 768px (adjust breakpoint as needed) */
@media (max-width: 900px) {
    #first-section{
        height: auto;
    }
    #about
    {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .about,.img 
    {
        width: 80%;
        margin: auto;
        
    }

    #themes{
        height: 500px
    }

    #prizes{
        height: auto;
    }

    .prizes h3{
        font-size: medium;
    }

    .prizes{
        flex-direction: column;
    }

    .card{
        width: 80%;
        height: fit-content;
    }

    #end{
        height: auto;
    }

    
    .judge-main{
        justify-content: center;
        flex-direction: column;
    }

}

.tcards{
    display: flex;
}
   
.tcard {
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: fit-content;
    background-color: #1b1b1b;
   }

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;

}

.tcard h2{
    height: 50px;
    font-family: 'Bauziet';
    color: white;
    text-align: center;
}

.ans{
    height: 0;
    overflow: hidden;
    color: #c0c0c0;
}
   
   .tcard h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
   }
   
   .tcard p {
    line-height: 1.5;
   }
   
   .tcard:hover {
    transform: scale(1.1);
    z-index: 999;
   }